{% style %}
    .container {
        width: 80%;
        height: 50%;
    }
    .selector {
        display: flex;
        border-bottom: 2px solid #ccc;
        line-height: 4rem;
    }
    .tab {
        padding: 10px;
    }
    .tab:hover {
        cursor: pointer;
        text-decoration: underline;
        font-size: 110%;
    }
    .content {
        padding: 10px;
    }
    .content-body {
        display: none;
    }
    .show-active {
        display: block;
        animation: fade 1s;
    }
    .tab-active {
        text-decoration: underline;
    }
    .details-table {
        border-collapse: collapse;
    }
    .details-table, .details-table-row, .details-table-cell {
        border: 1px solid #eee;
    }
    .details-table-cell {
        padding: 1rem;
    }
    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity:1;
        }
    }
{% endstyle %}
    

{% assign current_variant = product.selected_or_first_available_variant %}
<div class="container">
    <div class="selector">
        <div class="tab tab-active">
            Description
        </div>
        {% if current_variant.metafields.details.dimensions != blank or current_variant.metafields.details.frequency != blank or current_variant.metafields.details.voltage != blank or current_variant.metafields.details.wattage != blank %}
        <div class="tab">
            Details
        </div>
        {% endif %}
        <div class="tab">
            Shipping
        </div>
    </div>
    <div class="content">
        <div id="Description" class="content-body show-active">
            <h4>{{ product.description }}</h4>
        </div>
        <div id="Details" class="content-body">
            <table id="eu-details-table" class="details-table">
                <tr class="details-table-row">
                    <td class="details-table-cell">Dimensions</td>
                    <td id="details-dimensions" class="details-table-cell">{{current_variant.metafields.details.dimensions}}</td>
                </tr>
                <tr class="details-table-row">
                    <td class="details-table-cell">Frequency</td>
                    <td id="details-frequency" class="details-table-cell">{{current_variant.metafields.details.frequency}}</td>
                </tr>
                <tr class="details-table-row">
                    <td class="details-table-cell">Voltage</td>
                    <td id="details-voltage" class="details-table-cell">{{current_variant.metafields.details.voltage}}</td>
                </tr>
                <tr class="details-table-row">
                    <td class="details-table-cell">Wattage</td>
                    <td id="details-wattage" class="details-table-cell">{{current_variant.metafields.details.wattage}}</td>
                </tr>
            </table>
        </div>
        <div id="Shipping" class="content-body">
            <p>{{block.settings.shipping_information}}</p>
        </div>
    </div>
</div>


<script>
    // function to remove show-active class & add to clicked
    function setActiveContent(el) {
        // select all .content-body
        var contentBodies = document.getElementsByClassName('content-body');
        // remove .show-active
        for (var contentBody of contentBodies) {
            contentBody.classList.remove('show-active');
        }
        // add .show-active (back) to clicked 
        document.
            getElementById(el.textContent.trim())
            .classList.add('show-active');
    }

    function setActiveTab(el){
        var tabs = document.getElementsByClassName('tab');
        for (var tab of tabs) {
            tab.classList.remove('tab-active');
        }
        el.classList.add('tab-active');
    }

    // select .tab class, and loop through
    var tabs = document.getElementsByClassName('tab');
    for (var tab of tabs) {
        // add click listener to each tab
        tab.addEventListener('click', function(e) {
            setActiveContent(e.currentTarget);
            setActiveTab(e.currentTarget);
        })
    }
</script>

<script id="detailsJson">
    {
        {% for variant in product.variants %}
        "{{variant.id}}": {
            "dimensions": "{{variant.metafields.details.dimensions}}",
            "frequency": "{{variant.metafields.details.frequency}}",
            "voltage": "{{variant.metafields.details.voltage}}",
            "wattage": "{{variant.metafields.details.wattage}}"
        }{%unless forloop.last %},{% endunless %}
        {% endfor %}
    }
</script>
<script>
    var detailsJson = document.getElementById('detailsJson');
    if (detailsJson) {
        document.variantDetails = JSON.parse(detailsJson.innerHTML)
    }
</script>